<!DOCTYPE html>
<html lang="en-US">

<head>
    <link rel="import" href="header.html">
    <script type="text/javascript" src="js/indexController.js"></script>
    <script type="text/javascript" src="js/addController.js"></script>
    <title>Tree monitor</title>
</head>

<body ng-app="mainApp" ng-controller="indexController">
<div class="container">

    <a class="button" ng-click="openAddModal()">Add</a>

    <table>
        <thead>
        <tr>
            <th><a ng-click="orderBy('name')" href="#">Name</a></th>
            <th><a ng-click="orderBy('type')" href="#">Type</a></th>
            <th><a ng-click="orderBy('datePlanted')" href="#">Date planted</a></th>
            <th><a ng-click="orderBy('height')" href="#">Height</a></th>
            <th><a ng-click="orderBy('health')" href="#">Health</a></th>
            <th rowspan="2"/>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="tree in trees | orderBy:orderField">
            <td>{{tree.name}}</td>
            <td>{{tree.type}}</td>
            <td>{{tree.datePlanted}}</td>
            <td>{{tree.height}}</td>
            <td>{{tree.health}}</td>
            <td>
                <button>Edit</button>
                <button class="button-black">Delete</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>

</html>