input.ng-invalid {
    background-color: #fdd;
}

.container {
    padding: 20px;
}

.milligram {
    color: #702020;
}

.button-black {
    background-color: black;
    border-color: black;
}

.button-black.button-clear,
.button-black.button-outline {
    background-color: transparent;
    color: black;
}

.button-black.button-clear {
    border-color: transparent;
}